
{% extends 'layouts/base.html' %}

{% block menu %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="{%url 'accounts:home'%}">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</div>
<!-- /.col -->

{% endblock menu %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
        
            <!-- /.col-md-6 -->
            <div class="col">
                               <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h1>Instrucciones de Uso: </h1>
                        
                    </div>
                    <div class="card-body text-justify">
                        <h2>Paso 1: Iniciar Sesión</h2>
                       
                    
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

{% endblock content %}